* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background:linear-gradient(to bottom, peru, wheat );
  height: 100%;
  background-repeat: no-repeat;
  color: white;
  min-height: 100vh;
}

.nav-bar {
  background: linear-gradient(to right, yellow, orangered);
  width: 100%;
  height: 8vh;
}

.product {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.multi-color {
  font-size: 16px;
  font-weight: 600;
  color: crimson;
}

.product-image img {
  width: 30vw;
}

.product-info {
  padding: 2rem;
  width: 40vw;
}

.product-info p {
  padding: 1rem 0;
}

ul {
  padding: 2rem;
}

.variant-container {
  display: flex;
  padding: 1rem 0;
}

.variant-item {
  padding-top: 0.5rem;
  width: 4vh;
  height: 4vh;
  border: 3px solid lightgray;
}

.product-info button {
  padding: 0.5rem;
  border: none;
  color: white;
  font-weight: 700;
  margin: 2rem 0;
}

.add-button {
  background: orange;
}

.remove-button {
  background: orangered;
}

.product-info .cart {
  padding: 0.5rem;
  border: 1px solid darkgray;
  text-align: center;
  width: 50%;
}

.disableButton {
  background: lightgray;
  cursor: not-allowed;
  color: azure !important;
}

@media (max-width: 720px) {
  .product {
    flex-direction: column;
  }

  .product-image img {
    width: 100%;
  }

  .product-info {
    width: 100%;
  }

  .product-info .cart {
    width: 100%;
  }

  .product-info button {
    margin: 0.7rem 0;
    width: 100%;
  }
}