$color-orange-dark: rgb(221, 95, 19);
$color-primary-background: rgb(17, 24, 39);
$color-primary-faded:rgb(31, 41, 55);
$color-secondary-text:rgb(209, 213, 219);
$color-primary-light: rgb(156, 163, 175);
$color-white: rgb(255, 255, 255);
$color-smoke-white:rgb(243, 244, 246);
$color-dove-white :rgb(229, 231, 235);
$color-light-gray: rgb(107, 114, 128);
